@page "/gameEvent"
@using Heron.MudCalendar
@using Microsoft.EntityFrameworkCore
@using dakg;
@inject BloggingContext DbContext
@inject ISnackbar Snackbar

<h3>게임 이벤트 일정</h3>

<input type="date" @bind="_start" />

@if (_start != DateTime.MinValue)
{
    <p>선택한 날짜: @_start.ToString("yyyy-MM-dd")</p>
}

<input type="date" @bind="_end" />

@if (_end != DateTime.MinValue)
{
    <p>선택한 날짜: @_end.ToString("yyyy-MM-dd")</p>
}

<!-- 이벤트 추가 폼 -->
<input type="text" @bind="_eventName" placeholder="이벤트 이름 입력" />
<button @onclick="AddEventAsync">이벤트 추가</button>

<MudCalendar Items="_events" MonthCellMinHeight="115">
    <CellTemplate>
        <div style="width: 100%; height: 100%; border: 2px solid @GetColor(((DakgGameEventItem)context).Color)">
            <div style="background-color: @GetColor(((DakgGameEventItem)context).Color)">
                <MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">
                    @(((DakgGameEventItem)context).Text)
                </MudText>
            </div>
        </div>
    </CellTemplate>
</MudCalendar>

<MudTable Items="@_events" Hover="true" MultiSelection="true" Breakpoint="Breakpoint.Sm"
    @bind-SelectedItems="_selectedItems" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>PK</MudTh>
        <MudTh>Start</MudTh>
        <MudTh>End</MudTh>
        <MudTh>Name</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="PK">@context.PK</MudTd>
        <MudTd DataLabel="Start">@context.Start</MudTd>
        <MudTd DataLabel="End">@context.End</MudTd>
        <MudTd DataLabel="Name">@context.Text</MudTd>
    </RowTemplate>
</MudTable>

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Secondary" FullWidth="true"
    OnClick="DeleteSelectedEventAsync">
    Delete</MudButton>

@code {
    DateTime _start { get; set; } = DateTime.Today;
    DateTime _end { get; set; } = DateTime.Today;
    string _eventName { get; set; } = "";

    List<dakg.GameEvent> _gameEvents { get; set; } = new List<dakg.GameEvent>();
    List<DakgGameEventItem> _events = new();
    HashSet<DakgGameEventItem> _selectedItems = new();
    List<int> _selectedPks = new();

    async void AddEventAsync()
    {
        if (string.IsNullOrWhiteSpace(_eventName)) return;

        var gameEvent = new dakg.GameEvent()
            {
                StartTime = _start,
                EndTime = _end,
                Name = _eventName,
            };

        await DbContext.Events.AddAsync(gameEvent);
        await DbContext.SaveChangesAsync();

        _start = _end = DateTime.Today;
        _eventName = string.Empty;
        _events.Add(ConvertToCalendarItem(gameEvent));
    }

    protected override async Task OnInitializedAsync()
    {
        await InitGameEventDataAsync();
    }

    async Task InitGameEventDataAsync()
    {
        _gameEvents = await DbContext.Events.ToListAsync();
        _events = _gameEvents.Select(ge => ConvertToCalendarItem(ge)).ToList();
    }

    DakgGameEventItem ConvertToCalendarItem(dakg.GameEvent ge)
    {
        var evi = new DakgGameEventItem()
            {
                Start = ge.StartTime,
                End = ge.EndTime,
                Text = ge.Name,
                PK = ge.Id
            };

        // set random color
        var max = Enum.GetValues<MudBlazor.Color>().Length;
        evi.Color = (MudBlazor.Color)(evi.PK % max);

        return evi;
    }

    private class DakgGameEventItem : CalendarItem
    {
        public int PK { get; set; }
        public Color Color { get; set; } = Color.Primary;
    }

    private string GetColor(Color color) => $"var(--mud-palette-{color.ToDescriptionString()})";

    async Task DeleteSelectedEventAsync()
    {
        if (_selectedItems.Count <= 0)
        {
            Snackbar.Add("선택된 이벤트가 없습니다", Severity.Info);
            return;
        }

        foreach (var item in _selectedItems)
        {
            var ge = DbContext.Events.Single(evt => evt.Id == item.PK);
            DbContext.Events.Remove(ge);
        }

        await DbContext.SaveChangesAsync();
        await InitGameEventDataAsync();
    }
}